@tailwind base;
@tailwind components;
@tailwind utilities;

@import "main-page.css";
@import "login.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-base: #1a191d;
  --text-base: #e2e8f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background-base: #1a191d;
    --text-base: #e2e8f0;
  }
}

body {
  color: var(--text-base);
  background: var(--background-base);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
