.main-layout {
  width: 100%;
  max-height: 100vh;
  display: flex;
}

.main-layout .sidebar {
  width: 240px;
  height: 100vh;
}

.main-layout .topbar {
  width: calc(100vw - 240px);
  height: 64px;
}

.main-layout .main-content {
  width: 100%;
  overflow: auto;
}